* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 414px;
    margin-left: auto;
    margin-right: auto;
    background-color: #E5E5E5;
    border: 1px solid #EEEEEE;
}



.topo {
    background-color: #CF2B2B;
    height: 92px;
    width: 414px;
    font-family: 'Righteous', cursive;
    position: fixed;
    top: 0;
    box-shadow: 0px 5px 7px -3px #707070;
    z-index: 1;
}

.topo h1 {
    font-weight: 400;
    font-size: 44px;
    line-height: 55px;
    letter-spacing: -0.012em;
    color: #FFFFFF;
    padding: 5px 0px 0px 21px;
    margin-bottom: -5px;
}

.topo h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    padding: 0px 0px 18px 21px;
}

.pagina {
    margin: 130px 0px 100px 0px;
}

.pratos {
    display: flex;
    overflow-x: scroll;
}

.container {
    
}

.bordaVerde {
    border-style: inset;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F;
    border-radius: 9px;
}

.titulo {
    margin: 25px 14px 0px 19px;
}

.titulo>p {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.018em;
    color: #333333;
}

.bloco {
    background-color: white;
    margin: 10px 0px 8px 19px;
    padding: 18px 14px 8px 14px;
    width: 172px;
    height: 216px;
    border-radius: 9px;
    position: relative;
}

.bloco:hover {
    cursor: pointer;
}

.bloco img {
    width: 144px;
    height: 87px;
    border-radius: 4px;

}

.bloco>h1 {
    text-align: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    margin-top: 5px;
}

.bloco>h2 {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #A6A6A6;
}

.bloco>h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding-top: 18px;
    color: #000000;
}

.esconderIconeVerificado {
    display: none;
}

.iconeVerificado {
    position: absolute;
    top: 188px;
    right: 11px;
}

.iconeVerificado ion-icon {
    color: #32B72F;
    font-size: 15.44px;
}

.bebidas {
    display: flex;
    overflow-x: scroll;
}

.bebidas h3 {
    margin-top: 20px;
}

.sobremesa {
    display: flex;
    overflow-x: scroll;
}

.sobremesa h3 {
    margin-top: 20px;
}

.envio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 414px;
    height: 92px;
    background: #FFFFFF;
    position: fixed;
    bottom: 0px;
    z-index: 1;
}

.envio button {
    width: 364px;
    height: 61px;
    left: 25px;
    bottom: 16px;
    background: #CBCBCB;
    border-radius: 50px;
    border: 1px;
}

.envio p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.018em;
    color: #FFFFFF;
}

.esconder {
    display: none;
}